<div class="container wrap-main">
  <div class="col-md-4 p-0">

    <h1 class="title">Nueva Categoría</h1>

    <%= render 'form', category: @category %>

    <%= link_to 'Volver', categories_path, class: 'btn btn-info' %>


  </div>
</div>
